## You should disable Indexes and MultiViews either here or in the
## global config. Symlinks maybe needed for URL rewriting.
#Options -Indexes -MultiViews +FollowSymLinks

## make sure nobody gets the htaccess, README, COPYING or VERSION files
<Files ~ "^([\._]ht|README$|VERSION$|COPYING$)">
    <IfModule mod_authz_host>
        Require all denied
    </IfModule>
    <IfModule !mod_authz_host>
        Order allow,deny
        Deny from all
    </IfModule>
</Files>

## Don't allow access to git directories
<IfModule alias_module>
    RedirectMatch 404 /\.git
</IfModule>



RewriteEngine on

RewriteCond %{QUERY_STRING} "fbclid=" [NC]

RewriteRule (.*) /$1? [R=301,L]

RewriteRule ^_media/(.*)              lib/exe/fetch.php?media=$1  [QSA,L]

RewriteRule ^_detail/(.*)             lib/exe/detail.php?media=$1  [QSA,L]

RewriteRule ^_export/([^/]+)/(.*)     doku.php?do=export_$1&id=$2  [QSA,L]

RewriteRule ^$                        doku.php  [L]

RewriteCond %{REQUEST_FILENAME}       !-f

RewriteCond %{REQUEST_FILENAME}       !-d

RewriteRule (.*)                      doku.php?id=$1  [QSA,L]

RewriteRule ^index.php$               doku.php


RewriteCond %{HTTP_REFERER} !^$
RewriteCond %{HTTP_REFERER} !^http://neoocean.net/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://neoocean.net$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.neoocean.net/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.neoocean.net$      [NC]
RewriteCond %{HTTP_REFERER} !^https://neoocean.net/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://neoocean.net$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.neoocean.net/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.neoocean.net$      [NC]

RewriteRule .*\.(jpg|jpeg|gif|png|bmp|pdf|gpx)$ - [F,NC]

Redirect 301 /blog/finish                               https://woojinkim.atlassian.net/wiki/spaces/public/pages/43909248
Redirect 301 /blog/disappointing-books                  https://woojinkim.atlassian.net/wiki/spaces/public/pages/43909290
Redirect 301 /blog/youtubemusic                         https://woojinkim.atlassian.net/wiki/spaces/public/pages/43810901
Redirect 301 /blog/trimmone-theredays                   https://woojinkim.atlassian.net/wiki/spaces/public/pages/11960592
Redirect 301 /blog/report                               https://woojinkim.atlassian.net/wiki/spaces/public/pages/11797798
Redirect 301 blog/word                                  https://woojinkim.atlassian.net/wiki/spaces/public/pages/11831983
Redirect 301 /blog/senior                               https://woojinkim.atlassian.net/wiki/spaces/public/pages/43909300
Redirect 301 /blog/dokuwiki-loadbalancing/en            https://woojinkim.atlassian.net/wiki/spaces/public/pages/43876419
Redirect 301 /blog/dokuwiki-loadbalancing               https://woojinkim.atlassian.net/wiki/spaces/public/pages/43909318
Redirect 301 /blog/internship                           https://woojinkim.atlassian.net/wiki/spaces/public/pages/43811001
Redirect 301 /blog/spen                                 https://woojinkim.atlassian.net/wiki/spaces/public/pages/43778498
Redirect 301 /blog/fraud                                https://woojinkim.atlassian.net/wiki/spaces/public/pages/43909337
Redirect 301 /blog/transfer                             https://woojinkim.atlassian.net/wiki/spaces/public/pages/43909350
Redirect 301 /blog/strava                               https://woojinkim.atlassian.net/wiki/spaces/public/pages/43778525
Redirect 301 /blog/synchronization                      https://woojinkim.atlassian.net/wiki/spaces/public/pages/43876468
Redirect 301 /blog/gasboiler                            https://woojinkim.atlassian.net/wiki/spaces/public/pages/43811061
Redirect 301 /blog/esc                                  https://woojinkim.atlassian.net/wiki/spaces/public/pages/43876490
Redirect 301 /blog/failure                              https://woojinkim.atlassian.net/wiki/spaces/public/pages/44662785
Redirect 301 /blog/eternal                              https://woojinkim.atlassian.net/wiki/spaces/public/pages/44793869
Redirect 301 /blog/dependency                           https://woojinkim.atlassian.net/wiki/spaces/public/pages/44859410
Redirect 301 /blog/valhalla                             https://woojinkim.atlassian.net/wiki/spaces/public/pages/43876396
Redirect 301 /blog/wrong-way                            https://woojinkim.atlassian.net/wiki/spaces/public/pages/44498979
Redirect 301 /blog/mobile-workstation-requirements      https://woojinkim.atlassian.net/wiki/spaces/public/pages/44859417
Redirect 301 /blog/interview                            https://woojinkim.atlassian.net/wiki/spaces/public/pages/45023250
Redirect 301 /blog/varia-rtl510                         https://woojinkim.atlassian.net/wiki/spaces/public/pages/44761102
Redirect 301 /blog/emergency                            https://woojinkim.atlassian.net/wiki/spaces/public/pages/44892170
Redirect 301 /blog/troubleshooting-webserver-memory     https://woojinkim.atlassian.net/wiki/spaces/public/pages/44597276
Redirect 301 /blog/remote-day-5                         https://woojinkim.atlassian.net/wiki/spaces/public/pages/44597285
Redirect 301 /blog/remote-day-4                         https://woojinkim.atlassian.net/wiki/spaces/public/pages/44761142
Redirect 301 /blog/laziness                             https://woojinkim.atlassian.net/wiki/spaces/public/pages/44761149
Redirect 301 /blog/remote-day-3                         https://woojinkim.atlassian.net/wiki/spaces/public/pages/44597347
Redirect 301 /blog/remote-day-2                         https://woojinkim.atlassian.net/wiki/spaces/public/pages/44597369
Redirect 301 /blog/remote-day-1                         https://woojinkim.atlassian.net/wiki/spaces/public/pages/44597386
Redirect 301 /blog/telecommuting                        https://woojinkim.atlassian.net/wiki/spaces/public/pages/45842446
Redirect 301 /blog/zabbix                               https://woojinkim.atlassian.net/wiki/spaces/public/pages/45973534
Redirect 301 /blog/permalink                            https://woojinkim.atlassian.net/wiki/spaces/public/pages/45842471
Redirect 301 /blog/why-excel                            https://woojinkim.atlassian.net/wiki/spaces/public/pages/45973580
Redirect 301 /blog/bad-naming                           https://woojinkim.atlassian.net/wiki/spaces/public/pages/45842487
Redirect 301 /blog/mass-production                      https://woojinkim.atlassian.net/wiki/spaces/public/pages/45875267
Redirect 301 /blog/unfriendly                           https://woojinkim.atlassian.net/wiki/spaces/public/pages/45940850
Redirect 301 /books-read-in-january-2020                https://woojinkim.atlassian.net/wiki/spaces/public/pages/45842525
Redirect 301 /blog/timer                                https://woojinkim.atlassian.net/wiki/spaces/public/pages/45842546
Redirect 301 /blog/galaxytab                            https://woojinkim.atlassian.net/wiki/spaces/public/pages/43909280
Redirect 301 /blog/threat                               https://woojinkim.atlassian.net/wiki/spaces/public/pages/45875299
Redirect 301 /blog/cacti                                https://woojinkim.atlassian.net/wiki/spaces/public/pages/45940868
Redirect 301 /blog/isolation                            https://woojinkim.atlassian.net/wiki/spaces/public/pages/45875320
Redirect 301 /blog/surface-go-writing-after-one-year    https://woojinkim.atlassian.net/wiki/spaces/public/pages/45875327
Redirect 301 /blog/translate                            https://woojinkim.atlassian.net/wiki/spaces/public/pages/45875345
Redirect 301 /blog/management-simulation                https://woojinkim.atlassian.net/wiki/spaces/public/pages/45973660
Redirect 301 /blog/external-memory                      https://woojinkim.atlassian.net/wiki/spaces/public/pages/45973667
Redirect 301 /blog/rest                                 https://woojinkim.atlassian.net/wiki/spaces/public/pages/45973680
Redirect 301 /blog/tool                                 https://woojinkim.atlassian.net/wiki/spaces/public/pages/45842624
Redirect 301 /blog/brevet-database                      https://woojinkim.atlassian.net/wiki/spaces/public/pages/45875377
