
RewriteEngine on

RewriteCond %{QUERY_STRING} "fbclid=" [NC]

RewriteRule (.*) /$1? [R=301,L]

RewriteRule ^_media/(.*)              lib/exe/fetch.php?media=$1  [QSA,L]

RewriteRule ^_detail/(.*)             lib/exe/detail.php?media=$1  [QSA,L]

RewriteRule ^_export/([^/]+)/(.*)     doku.php?do=export_$1&id=$2  [QSA,L]

RewriteRule ^$                        doku.php  [L]

RewriteCond %{REQUEST_FILENAME}       !-f

RewriteCond %{REQUEST_FILENAME}       !-d

RewriteRule (.*)                      doku.php?id=$1  [QSA,L]

RewriteRule ^index.php$               doku.php


RewriteCond %{HTTP_REFERER} !^$
RewriteCond %{HTTP_REFERER} !^http://neoocean.net/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://neoocean.net$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.neoocean.net/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.neoocean.net$      [NC]
RewriteCond %{HTTP_REFERER} !^https://neoocean.net/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://neoocean.net$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.neoocean.net/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.neoocean.net$      [NC]
RewriteRule .*\.(jpg|jpeg|gif|png|bmp|pdf|gpx)$ - [F,NC]


